form {
	display: flex;
	justify-content: center;
	animation: shake 0.5s 1 ease-in-out forwards;
}

fieldset, legend {
	border: 1px solid #000;
	background: #f8f8f8;
}

fieldset {
	position: relative;
	padding: 2rem;
	width: 40vw;
}

legend {
	display: block;
	position: absolute;
	border-radius: 0.2rem;
	padding: 0.3rem 1.2rem;
	top: -1.5rem;
	left: 1rem;
}

form label {
	display: block;
}

.field {
	display: flex;
	align-items: center;
	padding-bottom: 0.8rem;
}

.field > label {
	flex: 0 0 6rem;
	text-align: right;
	padding-right: 0.5rem;
}

.input {
	display: flex;
	flex: 1 0 auto;
	position: relative;
	align-items: center;
}

.input input {
	order: 1;
	border: none;
	padding: 0.3rem 0.6rem;
	padding-left: 0.1rem;
	position: relative;
	z-index: 3;
	background: none;
	flex: 1 0 auto;
}

.input .fas {
	order: 0;
	position: relative;
	z-index: 2;
	line-height: 1;
	padding: 0.2rem 0.5rem;
	padding-left: 0.7rem;
	font-size: 0.8rem;
}

.input .actions {
	border: 1px solid #CCC;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 0.3rem;
	z-index: 1;
	transition: border-color 0.3s ease;
}

.input input:focus + .actions {
	border-color: #090;
}

.input input:focus + .actions + .fas {
	color: #090;	
}

input[type="submit"] {
	font-size: 0.8rem;
	font-weight: bold;
	padding: 0.5rem 1rem;
	margin-left: 1.5rem;
	background: #2d2d2d;
	border: 2px solid #000;
	border-radius: 0.2rem;
	color: #fff;
	cursor: pointer;
}

input[type="submit"]:hover {
	background: #090;
	transition: background 0.3s ease, border-color 0.3s ease;
}

@media screen and (max-width: 800px) {
	.field {
		display: block;
		flex-wrap: wrap;
	}

	.field > label { 
		width: auto;
		text-align: left;
	}

	input[type="submit"] {
		margin-left: 0;
	}
}