.post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.post li {
    display: block;
    list-style-type: none;
    flex: 0 0 31%;
}

.post a {
    display: flex;
    word-wrap: wrap;
    flex-direction: column; 
    position: relative;
    background: #fff;
	border-radius: 0.3em;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
	color: #333;
    text-decoration: none;
    padding: 1rem 1.5rem;
    transition: background 0.3s ease-in, color 0.3s ease-in, box-shadow 0.3s ease-in;
}

.post a:before {
    display: block;
    content: '';
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    border-radius: 0.3em;
	box-shadow: 0 0 5rem 0.5rem rgba(0,0,0,0.3);
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

.post a:hover {
    background: #333;
    color: #FFF;
}

.post a:hover:before {
    opacity: 1;
}

.post a .title {
    height: 5rem;
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: 4rem;
}